<div>
  <h1 class="title">WE CODE TOO!</h1><h3>A Collection of Diversity-Friendly Tech Resources!</h3>
  <p class="current_user">You are logged in as: <%= current_user.email %></p><br>  
</div>
<hr/>


<div class="pins">
  <% if @pins.empty? %>
  <h1 style="color:brown;">You have no pins! <br> <%= link_to "Add",new_pin_path %> some to display here!</h1>
  <% else %>
  <h4>
    <%=link_to "= Display Pins by Category =", categories_path %>
  </h4>
  <% @pins.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |pin| %>      
        <div class="pin-container col-md-4">
          <div class="pin">
            <div class="pin-header row">
              <div>
                  <% if pin.image %>
                    <img src="<%= pin.image.url(:medium) %>">
                    <% end %>
                  </div>
                </div>

            <div >
              <h4>
                <%=link_to "#{pin.title}", pin_path(pin)%>
              </h4>
                <%= link_to "#{pin.url}", pin.url, html_options = {target: "_blank", class: "url"} %>
            </div>
            <hr/>
            <button class="js-more btn btn-default form-control" data-id="<%= pin.id %>">More Info</button>
            <div id="pin-<%= pin.id %>"><%= truncate(pin.text, length:0) %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% end %>
</div>
<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/pins/" + id + ".json", function(data) {
      var pin = data["pin"];
      var pinCategories = []
        if(pin["categories"][0] == undefined ){
          var pinCategory = "Category: Unassigned";
        } else if (pin["categories"].length > 1){
          for(i=0; i < pin["categories"].length; i++){
             
            pinCategories.push(" " + pin["categories"][i]["name"]); 

            var pinCategory = "<div>Categories: " + pinCategories + "</div>";
          } 
        } else {
          var pinCategory = "<div>Category: " + pin["categories"][0]["name"] + "</div>";
        }


      var descriptionText = "<br><p><strong>" + pin["text"] + "</strong></p>" + pinCategory;
      $("#pin-" + id).html(descriptionText);
    });
  });
});
</script>
<hr/>