<div>
  <h1 class="title">We Code Too!</h1><h3>A Collection of Diversity-Friendly Tech Resources!</h3>
  <p class="current_user">You are logged in as: <%= current_user.email %></p><br>
</div>
<hr/>
<div class="pins">
  <% if @pins.empty? %>
  <h1>You have no pins! <br> Add some to display here!</h1>
  <%end %>
  <% @pins.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |pin| %>      
        <div class="pin-container col-md-4">
          <div class="pin">
            <div class="pin-header row">
              <div>
                  <% if pin.image %>
                    <img src="<%= pin.image.url(:medium) %>">
                    <% end %>
                  </div>
                </div>

            <div >
              <h4>
                <%=link_to "#{pin.title}", pin_path(pin)%>
              </h4>
                <%= link_to "#{pin.url}", pin.url, html_options = {target: "_blank", class: "url"} %>
            </div>
            <hr/>
            <button class="js-more btn btn-default form-control" data-id="<%= pin.id %>">More Info</button>
            <div id="pin-<%= pin.id %>"><%= truncate(pin.text, length:0) %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/pins/" + id + ".json", function(data) {
      var pin = data["pin"];

      var descriptionText = "<br><p><strong>" + pin["text"] + "</strong></p>";
      $("#pin-" + id).html(descriptionText);

    });
  });
});
</script>
<hr/>