<div class="show">
  <div class="header">
    <h1 class="pinTitle">
      <%= "#{@pin.title}" %>
    </h1>
  </div>
        <%= link_to "Edit Pin", edit_pin_path(@pin) %><br>
        <%= link_to "Delete Pin", pin_path(@pin), :confirm => "Are you sure?", :method => :delete, :prompt => "Are you sure?" %><br>
        <a href="#" class="js-next" data-id="<%=@pin.id%>">Next Pin</a>
        <hr>

  <div class="show-pin">
    <img class="pinImage" src="<%= @pin.image.url(:medium) %>" ><br><br>
    <p class="pinText"><%= "#{@pin.text.upcase}" %></p>

    <hr/>
    <p>
      <b class="pinTitle">Visit: <%= "#{@pin.title}" %> at: </b>
        <%= link_to "#{@pin.url}", @pin.url, html_options = {target: "_blank", class: "url pinUrl"} %><br><br>
    </p>

    <% @pin.categories.each do |category| %>
      <% if category.name == ""%>
        <li><%= "CATEGORY UNASSIGNED" %></li>
      <% else %> 
        <li class="pinCategory"><%= "#{category.name.upcase}" %></li>
      <% end %>
    <% end %>

    <br><br>

    <%= form_for @pin, url: {action: "add_category"} do |f| %>
      <div class="col-sm-6">
        <%= f.fields_for :categories, @pin.categories.build do |categories_fields| %>
          <%= categories_fields.text_field :name, class: "form-control" %>
        <% end %> 
       </div>
      <div class="col-sm-6">
        <%= f.submit "Add Categories",(options = {class: "btn btn-default form-control"}) %>
      </div>     
    <% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
    alert(data);
      event.preventDefault();
  
      var values = $(this).serialize();
 
      var posting = $.post('/pins', values);
 
      posting.done(function(data) {
        var pin = data["pin"];
        $(".pinCategory").append("<li>" + pin["categories"][i]["name"] + "</li>");
      });
    });
  });
</script>

  <script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function() {
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.get("/pins/" + nextId + ".json", function(data) {
        var pin = data["pin"];
      
        if(pin["categories"][0] == undefined ){
          $(".pinCategory").text("Category Unassigned");
        } else if (pin["categories"].length > 1){
          for(i=1; i < pin["categories"].length; i++){
            $(".pinCategory").append("<li>" + pin["categories"][i]["name"] + "</li>"); 
          } 
        } else {
          $(".pinCategory").text(pin["categories"][0]["name"]);
        }

        $(".pinTitle").text(pin["title"]);
        $(".pinUrl").text(pin["url"]);
        $(".pinText").text(pin["text"]);
        $(".pinImage").attr("src",pin["image"]);
        $(".js-next").attr("data-id", pin["id"]);
      });
    });
  });
  </script>  
  </div>
</div>





